# Supabase (create .env and fill these)
VITE_SUPABASE_URL=https://zyfyovlvzvlftqgrmrqv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp5Znlvdmx2enZsZnRxZ3JtcnF2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQ4MjkzMDAsImV4cCI6MjA4MDQwNTMwMH0.hfgcaE412Xzyej4cvxgsgnpFooZuOl4e_qnTlBAW_gg
